@media screen and (max-width:767px) {

    #access .map h2:last-of-type{
        margin-top: 30px;
    }

    #access .map{
        margin: 10px 5px
    }

    #access .map p{
        margin: 30px 0 35px 0;
    }

    #access .map iframe{
        width: 100%;
        height: 49vw;
    }
}