@media screen and (max-width:767px) {
    
    /* 最小フォントサイズ : 16px */
    html {
        font-size: 16px;
    }    

    body{
        color: #696969;
        /* font-size: 23px; */
        font-weight: bold;
    }

    /* ヘッダー */
    header{
        height: 90px;
        /* background-image: url(../../img/sp/titlelogo.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 90%;
        margin-bottom: 9vw;
        padding-top: 70px; */
    }

    div#top-fixed{
        background-image: url(../../img/sp/titlelogo.png);
        position: fixed;
        background-color: #fff;
        width: 100%;
        height: 79px;
        background-repeat: no-repeat;
        background-position: 25px 9px;
        background-size: 270px;
        transition: all 1s ease-out;
        z-index: 99;
    }

    /* フッター */
    footer{
        width: 100%;
        margin: auto;
        margin-bottom: 10vw;
        font-weight: normal;
    }

    footer p {
        font-size: 4vw;
        margin: 10px 0 10px 20px;
        font-weight: bold;
    }

    footer div{
        margin: 10px 0 10px 20px;
        display: flex;
        font-size: 3.3vw;
    }    

    .sp{
        display: block;
    }
    .pc{
        display: none;
    }


    /* hamburger */
    /* アコーディオン */
    .accordion-menu {
        width: 100%;
        margin: 79px auto 20px;
        background: #fff;
        position: fixed;
        z-index: 100;
    }

    .accordion-menu li:last-child .dropdownlink {
        border-bottom: 0;
    }

    .submenuItems {
        display: none;
        background: #fff;
    }

    .submenuItems li {
        border-bottom: 1px solid #B6B6B6;
    }

    .submenuItems a {
        display: block;
        color: #727272;
        padding: 12px 12px 12px 45px;
        transition: 1s;
    }

        main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    /* ハンバーガーマーク */

    .menu-trigger {
        display: inline-block;
        width: 0px;
        height: 20px;
        vertical-align: middle;
        cursor: pointer;
        position: fixed;
        top: 20px;
        right: 30px;
        z-index: 100;
        transform: translateX(0);
        transition: transform 0.5s;
        padding: 15px 15px 15px 45px;
        font-size: 18px;
        color: #212121;

    }

    .menu-trigger span {
        display: inline-block;
        box-sizing: border-box;
        position: absolute;
        left: 0;
        width: 100%;
        height: 10px;
        background-color: #f39800;
        transition: all 0.5s;
    }

    .menu-trigger span:nth-of-type(1) {
        top: 0;
    }

    .menu-trigger.active span:nth-of-type(1) {
        transform: translateY(27px) rotate(-45deg);
    }

    .menu-trigger span:nth-of-type(2) {
        top: 20px;
    }

    .menu-trigger.active span:nth-of-type(2) {
        opacity: 0;
    }

    .menu-trigger span:nth-of-type(3) {
        bottom: 0;
    }

    .menu-trigger.active span:nth-of-type(3) {
        transform: translateY(-12px) rotate(45deg);
    }
    
    section{
        margin: 0 0 25px 0px;
        width: 100%;
        border-radius: 5px;
        filter: drop-shadow();
        box-shadow: 0px 10px 15px #80808073;
        overflow: hidden;
    }

    h1{
        background-color: #f39800;
        color: #fff;
        padding: 8px 0 3px 25px;
        font-size: 30px;
        font-weight: bold;
    }
    /* title緑棒 */
    section h2 {
        font-size: 35px;
        border-left: solid 15px #46c9ba;
        padding-left: 2.5vw;
    }

    .pagetop {
        position: fixed;
        /* width: 109%; */
        bottom: 16px;
        right: 1px;
    }
    
    .pagetop img{
        width: 70px;
    }
}


/* 
* フォントサイズ
*/

@media (min-width: 400px) and (max-width:767px) {
    /* 24px~16px */
    html {
        font-size: calc(1rem + ((1vw - 5.6px) * 1.9048))
    }

    /* 40px~30px */
    h1{
        font-size: calc(1rem + ((1vw - -5.6px) * 1.9048)) 
    }
    /* 50px~ */
    section h2 {
        font-size: calc(1rem + ((1vw - -7.6px) * 1.9048)) 
    }
    }

@media screen and (max-width:450px) {
    div#top-fixed {
        background-size: calc(1rem + ((25vw - -10.6px) * 1.9048));
        background-position: 20% 70%;
    }
}