@media screen and (max-width:767px) {

    /* 医師紹介共有 */

    .flexbox {
        flex-wrap: wrap;
    }

    #hospitalGuide .danraku{
        margin-bottom: 15px;
    }

    #hospitalGuide h3{
        margin: 20px 0 10px 0;
    }
    #hospitalGuide h3 + p{
        margin-bottom: 15px;
    }

    #hospitalGuide .w-25{
        font-size: 20px;
    }

    #hospitalGuide .explain p ,#hospitalGuide .explain h3{
        margin-left: 3vw;
    }

    #hospitalGuide .explain-box {
        margin-left: 3vw;
    }

    #hospitalGuide img{
        width: 100%;
    }

    #hospitalGuide ul{
        padding-left: 20px;
        font-size: 16px;
    }

    #hospitalGuide ul li{
        list-style: unset;
    }

    #hospitalGuide ul li:first-of-type{
        margin: 10px 0;
    }

    #hospitalGuide ul li:last-of-type{
        margin: 10px 0;
    }

    #hospitalGuide .explain h2 span{
        font-size: 16px;
    }

    #hospitalGuide .sp-one-things {
        margin-top: 20px;
        margin-left: 3vw;
    }

    #hospitalGuide .one-thing {
        margin-bottom: 15px;
    }

    hr {
        margin: 0 -55px;
    }
    /* 医師紹介個別 */
    #hospitalGuide .docter-woman{
        margin: 5.5vw 6.5vw;
    }

    #hospitalGuide .docter-man{
        margin: 1.5vw 6.5vw;
    }

    #hospitalGuide .docter-woman .one-thing {
        margin-top: 35px;
    }

    #hospitalGuide .docter-woman p:nth-of-type(3) {
        margin-top: 5vw;
    }

    /* 外来担当医師 */

    .docter-schedule h2{
        margin-left: 7vw;
    }    

    .docter-schedule .doctor-charge{
        margin: 2.7vw auto;
        display: flex;
        flex-wrap: wrap;
        width: 84%;
        }

    .docter-schedule .doctor-charge p{
        font-size: 25px;
    }

    .docter-schedule .doctor-charge p:first-of-type{
        margin-right: 10%;
    }    

    .docter-schedule .schedule {
        border: 0.3vw solid #ccc;
        margin: 10px 0px 20px 0px;
        border-right: none;
    }

    .docter-schedule .schedule .row{
    width: 100%;
    }

    .schedule dl {
    display: flex;
    text-align: center;
    border-bottom: 0.3vw solid #ccc;
    font-size: 6.7vw;
    line-height:13vw;
    }

    .docter-schedule .schedule dl dd {
        line-height: 22vw;
    }
        
    .schedule dl:last-child {
    border-bottom: none;
    }
    .schedule dl dt {
    background: #46c9ba none repeat scroll 0 0;
    color: #fff;
    font-weight: bold;
    border-right: 0.3vw solid #ccc;
    height: 12vw;
    }

    .schedule dl dd:nth-of-type(1),.schedule dl dt:nth-of-type(1) {
        color: #fff;
        width: 125% !important;
        font-size: 7vw;
    }

    .schedule dl dd {
        /* padding: 25px 1px 10px 1px; */
        border-right: 0.3vw solid #ccc;
        }

    .orange{
        background-color: #f39800;
    }

    .blue{
        font-size: 60px;
        font-size: 8.5vw;
        color: #6ecef1
    }

    .pink{
        font-size: 60px;
        font-size: 8.5vw;
        color: #f16eb5
    }

    .docter-schedule .caution{
        color: #e60012;
        margin: 20px 0 90px 0;
    }
    .docter-schedule p{
        font-size: 20px;
    }
}

/* 
*フォントサイズ可変
*/
@media (min-width: 500px) and (max-width:767px) {
    /* 23px~ */
    #hospitalGuide .explain h2 span{
        font-size: calc(1rem + ((1vw - 6px) * 1.9048)) 
    }

    /* 30px~ */
    #hospitalGuide .w-25, .docter-schedule .doctor-charge p {
        font-size: calc(1rem + ((1vw - 2px) * 1.9048)) 
    }
    /* 28px~ */
    #hospitalGuide ul{
        font-size: calc(1rem + ((1vw - 6px) * 1.9048)) 
    }
}

@media (max-width: 500px){
    span.rs-1000 {
        display: block;
    }
}