@media screen and (max-width:767px) {

    /* 病院の理念 */
    #hospitalGuide .sp-inside {
        margin: 20px 5px;
    }
    #hospitalGuide .waiting-room{
        width: 100%;
    }

    #hospitalGuide .philosophy {
        font-size: 16px;
    }

    #hospitalGuide .philosophy h2 {
        margin: 3vw auto;
    }

    #hospitalGuide .philosophy p:nth-of-type(1) {
        margin: 5px 0 40px 0;
    }

    #hospitalGuide .philosophy p:nth-of-type(3) {
        text-align: right;
        margin: 20px 0;
    }   
    

    /* 駐車場・診察室 */
    #hospitalGuide .flexbox{
        margin:20px 0;
    }

    #hospitalGuide .flexbox img{
        margin: 10px 0;
        width: 100%;
    }

    #hospitalGuide .flexbox p{
        font-size: 16px;
    }

    #hospitalGuide .flexbox p span{
        font-size: 3.2vw;
    }

    #hospitalGuide .flexbox .parking{
        width: 100%;
        margin-bottom: 50px;
    }

    #hospitalGuide .flexbox .examination-room{
        width: 100%;
        margin-bottom: 50px;
    }
}

/* 
*フォントサイズ可変
*/
@media (min-width: 400px) and (max-width:767px) {
    /* 28px~ */
    #hospitalGuide .philosophy , #hospitalGuide .flexbox p {
        font-size: calc(1rem + ((1vw - 3px) * 1.9048)) 
    }

    /* 24px~ */
    #hospitalGuide .flexbox p span{
        font-size: calc(1rem + ((1vw - 5px) * 1.9048)) 
    }

}