@media screen and (max-width:767px) {

    /* 診療時間 */
    #consultationHours{
        order: 2;
    }

    .dltable {
        margin: 30px auto;
        width: 91.5%;
        border: 0.5vw solid #cccccc;
    }

    .dltable .row1   {
    width: 11%;
    }

    .dltable .row8 {
        width: 30%;
        border-right: none;
    }

    .dltable dl .active-time{
        color: #fff !important;
        width: 18%;
        background-color: #46c9ba;
    }
    
    .dltable dl dd.active-time{
        background-color: #f39800;
    }

    .active-time .font-size {
        font-size: 5vw;
        font-weight: bold;
    }

    #consultationHours .active-time p {
        line-height: 4vw;
        font-size: 3.5vw;
        width: 83%;
        margin: auto;
    }

    .dltable dl {
        display: flex;
        text-align: center;
        font-size: 5vw;
        height: 21.5vw;
        border-bottom: 0.5vw solid #ccc;
    }
    .dltable dl:last-child {
        border-bottom: none;
    }
    .dltable dl dt {
        background: #46c9ba none repeat scroll 0 0;
        color: #fff;
        font-weight: bold;
        border-right: 0.5vw solid #ccc;
        padding: 3vw 0;
    }
    .dltable dl dd {
        border-right: 0.5vw solid #ccc;
        color: #f39800;
        padding-top: 1vw;
    }

    .dltable dl dd p{
        font-size: 7.5vw;
    }

    .row1 p, .row8 p {
        padding: 4vw 0;
    }

    .dltable dl:first-child{
        height: 13vw;
    }
    
    /* 春日町診療所 */

    #houtoKasuga{
        order: 1;
        background-color: #f39800;
    }
    
    #houtoKasuga h1{
    margin: 2px 0 2px 0;
    padding: 0;
    }

    #houtoKasuga img{
        width: 97%;
        margin: 5px auto;
    }

    #houtoKasuga .explain-for-kasugacyo {
        margin: 1vw 3vw 3vw;
    }

    #houtoKasuga .explain-for-kasugacyo p {
        font-weight: normal;
        color: #fff
    }

    /* お問い合わせ */
    #inquiry{
        order: 3;
    }

    .inquiry-box {
        margin: 6.5vw 5.5vw;
        font-weight: bold;
    }

    .inquiry-box p {  
        font-size: 5vw;
    }

    .inquiry-box a{
        font-size: 9vw;
        color: #696969;
        white-space: nowrap
    }

    #inquiry .smart-phone{
        display: flex;
    }

    #inquiry .smart-phone p{
        width: 50%;
        margin: 16px 0 0 0;
        text-align: center;
        font-size:5.3vw;
    }
    #inquiry hr {
        margin: 0 -60px 0px -60px;
    }

    #inquiry .smart-phone img{
        width: 205px;
        margin-left: 6vw;
    }

    /* お知らせ */
    #info{
        display: none;
    }

    /* ご挨拶 */
    #greeting{
        order:4;
        font-weight: bold;
    }

    #greeting .sp-waku {
        margin: 4.5vw 6.5vw;
    }

    #greeting img {
        width: 100%;
    }

    #greeting .docter-explain{
        margin: 40px 0;
    }

    #greeting .docter-explain h2 span {
        padding-left: 10%;
        font-size: 3.5vw;
    }    
  
    #greeting .docter-explain p:first-of-type {
        line-height: 2;
        font-size: 4vw;
        margin-top: 2vw;
    }

    #greeting .docter-explain hr {
        /* padding: 20px 7px 0 0; */
        margin: 0px -50px 25px -50px;
    }
}

@media screen and (max-width:600px) {
    span.rs-1000 {
        display: block;
        padding-left: 0% !important;
    }
}