@media screen and (max-width:767px) {

    #info .info{
        margin: 10px 5px 25px;
    }

    #info h2 {
        margin-bottom: 12vw;
        font-size: 6.5vw;
    }

    #info dl{
        display:flex;
        flex-wrap: wrap;
        border-top: none;
        border-top: dotted 4px #46c9ba;
        margin-bottom: 1.5vw;
    }

    #info .info dl:last-child {
        border-bottom: dotted 4px #46c9ba;
    }

    #info dt{
        font-size: 17px;
        width: 22%;
        margin: auto 0;
    }

    #info dt p{
        width: 54%;
        text-align: center;
        line-height: 1.2;
    }

    #info .info dd{
        padding: 10px 0 20px;
        margin: 0;
        width: 78%;
    }

    #info .info dd .w-25{
        font-size: 26px;
    }

    #info .info .consultation {
        margin: 20px 0 30px 0;
        font-size: 16px;
    }
    .w-20{
        font-size: 18px;
    }


    .btn-info {
        position: relative;
        display: inline-block;
        font-weight: bold;
        padding: 0px 5px;
        text-decoration: none;
        color: #fff;
        background: #46c9ba;
        transition: .4s;
        border-radius: 10px;
        font-size: 22px;
        margin-top: 5vw;
    }

/* モーダル */
        .modal{
        display: none;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }
    .modal__bg{
        background: rgba(0,0,0,0.8);
        height: 100vh;
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
    }
    .modal__content{
        background: #fff;
        left: 50%;
        padding: 40px;
        position: absolute;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 70%;
    }
    a.js-modal-close{
        float: right;
        color: black;
    }

    .modal h2 {
        margin-bottom: 5vw;
        font-size: 20px;
    }
    .modal h2 span{
        display: block;
        font-size: 1.5vw;
    }
    .modal p:nth-of-type(2){
        margin-top: 3vw;
    }
    .modal .js-modal-close{
        font-size: 4vw;
        margin: -30px -25px 2px 1px;
    }

}
@media (min-width: 400px) and (max-width:767px) {
    /* 28px~ */
    .w-25 {
        font-size: calc(1rem + ((1vw - -3px) * 1.9048)) !important
    }
    /* 30px~ */
    #info dt {
        font-size: calc(1rem + ((1vw - 2px) * 1.9048)) 
    }
}

@media (min-width: 600px) and (max-width:767px) {
    /* 25px~ */
    #info .info .consultation {
        font-size: calc(1rem + ((1vw - 8.5px) * 1.9048)) 
    }
    
    /* 18px~ */
    .w-20{
        font-size: calc(1rem + ((1vw - 5px) * 1.9048)) 
        
    }
    .w-20 span{
        display:block
        
    }  
}

@media screen and (max-width:400px) {
.modal p{
    font-size: 14px;
}
}