@media screen and (min-width:768px) {

    #access .map h2{
        font-size: 35px;
        padding-left: 20px;
    }

    #access .map{
        margin: 30px 20px
    }

    #access .map p{
        margin: 30px 0 35px 0;
    }

    #access .map iframe{
        width: 100%;
        height: 249px;
    }
}