
/* レスポンシブまで対応 */
@media screen and (min-width:768px) {
    body{
        background-color: #e6e6e6;
        margin: 0%;
        font-family: "メイリオ", sans-serif;
        font-weight: bold;
        color: #696969;
        font-size: 16px
    }


    section{
        margin: 0 0 0 5px;
        width: 100%;
        background-color: #fff;
        border-radius: 5px;
        filter: drop-shadow();
        box-shadow: 0px 10px 15px #80808073;
        overflow: hidden;
    }
    h1{
        background-color: #f39800;
        color: #fff;
        padding: 5px 0 0 25px;
        font-size: 30px;
        min-height: 44px;
    }

    .new-line{
        display: block;
    }

    /* ヘッダー */
    #top{
        display: block !important;
        margin: 0 auto;
        width: 1000px;
        overflow: hidden;
    }

    header{
        background-color: #fff;
    }

    header .tel{
        float: right;
        color: #f39800;
    }

    header .tel-top{
        color: #f39800;
        font-weight: bold;
        font-size: 25px;
    }

    header .for-tel{
        font-size: 15px;
        margin-top: 10px;
    }

    header img{
        float: left;
        margin-top: 20px;
    }

    header ul{
        text-align: center;
        font-size: 30px;
        float: right;
    }

    header ul li {
        display: inline-block;
        border-left: 2px solid #f39800;
        margin-bottom: 10px;
        width: 140px;
        margin-left: -10px;
    }

    header ul li:last-of-type {
        border-right: 2px solid #f39800;
        }

    header ul li a{
        color: #000000;
        font-weight: normal;
    }

    /* サブページ用 */
    main{
        display: flex;
        width: 1000px;
        margin: 5px auto;
    }

    /* aside */
    aside {
        width: 290px;
    }
    aside section:last-of-type {
        margin: 0 0 0 0;
    }

    aside h1 {
        font-size: 25px;
    }

    aside section {
        margin: 0 0 5px 0;
    }

    /* 診察時間 */
    .dltable {
        width: 275px;
        border: 1px solid #cccccc;
        margin: 10px 5px 5px 5px;
    }

    .dltable .row1,.dltable .row2,.dltable .row3,.dltable .row4,.dltable .row5,.dltable .row6,.dltable .row7,.dltable .row8 {
    width: 30px;
    }

    .dltable .row8 {
        width: 30%;
        border-right: none;
    }

    dd.bathu {
        color: #E91E63 !important;
        font-size: 30px !important;
        padding: 14px 1px !important;
    }
    
    .active-time{
        font-size: 11px;
        color: #696969 !important;
        width: 50px;
        padding: 0 1px !important;
    }
    .active-time .font-size{
        font-size: 16px;
    }
    .dltable dl {
    display: flex;
    text-align: center;
    font-size: 20px;
    border-bottom: 1px solid #ccc;
    }
    .dltable dl:last-child {
    border-bottom: none;
    }
    .dltable dl dt {
    padding:9x 1px;
    background: #46c9ba none repeat scroll 0 0;
    color: #fff;
    font-weight: bold;
    border-right: 1px solid #dee2e6;
    }
    .dltable dl dd {
    padding: 22px 1px;
    border-right: 1px solid #b2b5b8;
    color: #f39800;
    }

    /* お問い合わせ */
    .inquiry-box {
        margin: 15px 20px 0 20px;
        font-size: 16px;
    }

    .inquiry-box a{
        font-size: 24px;
        color: #696969;
    }

    #inquiry .smart-phone{
        display: flex;
    }

    #inquiry .smart-phone p{
        width: 39%;
        margin: 16px 0 0 0;
        text-align: center;
    }
    #inquiry hr {
        margin: 0 -30px 0px -30px;
    }

    /* お知らせ */
    #info .scroll-box {
        display: block;
        margin:20px 5px 40px;
        overflow: scroll;
        height: 200px;
        border: solid 4px #e6e6e6;
        overflow-x: hidden;
    }

    #info .scroll-box ul {
        padding: 10px 0 0 20px;
    }
    #info .scroll-box ul li{
        margin-bottom: 50px;
    }

    #info .scroll-box ul li a {
        font-size: 20px;
        color: #46c9ba;
        text-decoration: underline;
    }

    #info .scroll-box ul li p {
        font-size: 15px;
    }

    #info .scroll-box::-webkit-scrollbar{
        width: 10px;
    }

    #info .scroll-box::-webkit-scrollbar-track{
        border-left: solid 1px #ececec;
    }

    #info .scroll-box::-webkit-scrollbar-thumb{
        background: #ccc;
        border-radius: 10px;
    }
    /* サブタイトル */
    section h2 {
        font-size: 30px;
        border-left: solid 14px #46c9ba;
        padding-left: 5px;
    }

    /* フッター */
    footer{
        width: 1000px;
        margin: auto;
        font-weight: normal;
    }

    footer p {
        font-size: 30px;
        margin: 10px 0 10px 20px;
    }

    footer div{
        margin: 10px 0 10px 20px;
        display: flex;
        font-size: 20px;
    }    
    
    .flexbox{
        display: flex;
    }

    /* フォントサイズ */
    .w-25{
        font-size: 25px
    }
    
    .w-20{
        font-size: 20px
    }
        
    .w-13{
        font-size: 13px;
    }
    /* sp・pc用 */
    .sp{
        display: none;
    }
    .sp-space{
        display: none;
    }
    .pc-new-space{
        display: block;
    }
}



@media screen and (min-width:768px) and (max-width:999px) {
    body{
        font-size: 1.7vw;
    }

    /* ヘッダー */
    #top{
        display: block !important;
        width: 100%;
    }

    header ul{
        font-size: 3vw;
    }

    header ul li {
        width: 14vw;
    }
    /* サブページ用 */
    main{
        display: flex;
        width: 100%;
        margin: 5px auto;
    }

    /* お知らせ */

    #info .scroll-box ul li a {
        font-size: 17px;
    }

    /* サブタイトル */
    section h2 {
        font-size: 3vw;
    }

    /* フッター */
    footer{
        width: 100%;
    }
    
    
    /* フォントサイズ */
    .w-25{
        font-size: 2.5vw
    }
    
    .w-20{
        font-size: 2vw
    }
        
    .w-13{
        font-size: 1.3vw;
    }

}
