@media screen and (min-width:768px) {

    #info .info{
        margin: 20px;
    }

    #info h2 {
        margin :0 0 100px 10px;
    }

    #info dl{
        display:flex;
        flex-wrap: wrap;
        border-top: none;
        border-top: dotted 4px #46c9ba;
    }

    #info .info dl:last-child {
        border-bottom: dotted 4px #46c9ba;
    }

    #info dt{
        font-size: 13px;
        width: 20%;
        margin: auto 0;
    }

    #info .info dd{
        padding: 10px 0;
        margin: 0;
        width: 70%;
    }

    #info .info .consultation {
        margin: 20px 0 5px 0;
    }

    /* モーダル */

    .btn-info {
        position: relative;
        display: inline-block;
        font-weight: bold;
        padding: 1px 25px;
        text-decoration: none;
        color: #fff;
        background: #46c9ba;
        transition: .4s;
        border-radius: 10px;
        font-size: 20px
    }

    .btn-info {
        background: #00bcd4;
        color: white;
    }
        .modal{
        display: none;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }
    .modal__bg{
        background: rgba(0,0,0,0.8);
        height: 100vh;
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
    }
    .modal__content{
        background: #fff;
        left: 50%;
        padding: 40px;
        position: absolute;
        top: 40%;
        transform: translate(-50%,-50%);
        width: 70%;
    }
    a.js-modal-close{
        float: right;
        color: black;
    }

    .modal h2 {
        margin-bottom: 5vw;
        font-size: 3.5vw;
    }
    .modal h2 span{
        display: block;
        font-size: 1.5vw;
    }
    .modal p:nth-of-type(2){
        margin-top: 3vw;
    }
    .modal .js-modal-close{
        font-size: 4vw;
        margin: -30px -25px 2px 1px;
    }
}
@media screen and (min-width:768px) and (max-width:999px) {
    #info .info dd {
        width: 71%;
    }
}